GuitarTrainer/bin/
GuitarTrainer/gen/
GuitarTrainer/libs/
GuitarTrainer/output/
GuitarTrainer/obj/
GuitarTrainerTest/bin/
GuitarTrainerTest/gen/
GuitarTrainer/local.properties
GuitarTrainer/doku-ignored/
