GuitarTrainer/Android 4 Pro.pdf
GuitarTrainer/AndroidManifest.xml.bck
GuitarTrainer/.settings/org.eclipse.core.resources.prefs
GuitarTrainer/bin/
GuitarTrainer/gen/
GuitarTrainer/libs/
GuitarTrainer/output/
GuitarTrainer/obj/
GuitarTrainerTest/bin/
GuitarTrainerTest/gen/
GuitarTrainer/local.properties
GuitarTrainer/doku-ignored/
